    body {
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        background-color: hwb(122 89% 1%);
        color: #333;
        position: relative; /* Ajoutez cette ligne pour permettre l'alignement absolu des éléments enfants */
    }

.small-title {
    position: absolute;
    top: 5px;
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Centrer parfaitement */
    font-size: 18px; 
    color: #4caf50;
    margin: 0;
    padding: 5px;
    
    border-radius: 4px;
    z-index: 1000;
}

#corner-image {
    position: absolute;
    top: 5px; /* Adjust this value as needed */
    right: 5px; /* Adjust this value as needed */
    width: 120px; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
    
    z-index: 1000;
}

.preset-container {
    display: flex;
    justify-content: center;

    margin-top: 10px; /* Optional: Add some spacing */
}


.preset-button {
    
    background-color: rgb(76, 174, 79);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 8px; /* Reduced padding for a smaller width */
    font-size: 0.8em;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 30px;
}

.preset-button:hover {
    background-color: #45a049;
}

.preset-button:active {
    background-color: hsl(246, 100%, 50%);
}

/* Highlighted button */
.active-preset {
    border: 2px solid #ffffff;
    background-color: rgb(0, 0, 255) !important;
}



    .container {
        text-align: center;
        width: 90%;
        max-width: 800px;
        background-color: rgba(255, 255, 255, 0.8); /* Set the rectangle to semi-transparent */
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 40px; /* Laisser un espace du haut de la page */
        left: 50%; /* Centrer horizontalement */
        transform: translateX(-50%); /* Centrer parfaitement */
    }

    .countdown {
        font-size: clamp(90px, 25vw, 260px);
        border-radius: 20px;
        font-weight: bold;
        transition: color 0.3s ease;
        margin-bottom: 10px;
        color: #4caf50;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        
        text-align: center; /* Centre le texte horizontalement */
        margin: 5 auto; /* Centrer le timer horizontalement */
    }


.extension-buttons-group {
    display: flex;
    
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
    height: 150px;
    max-width: 800px;
    gap: 60px;
    position: fixed;
    bottom: 100px; 
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
}

.extension-buttons-group button {
    font-size: 100px;
    
    padding: 5px 5px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s;
    width: 48%;
    background-color: rgb(60, 0, 255);
    color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.extension-buttons-group button:disabled {
    background-color: #888;
    opacity: 0.2;
    cursor: not-allowed;
}


    .progress-bar {
        width: 100%;
        height: 50px;
        background-color: #ddd;
        border-radius: 15px;
        overflow: hidden;
        
        margin-top: 10px;
    }

    .progress {
        height: 100%;
        width: 100%;
        transition: width 2s ease;
    }



        .buttons-group {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            width: 100%;
        }

        button {
            font-size: 50px;
	        font-weight: bold;  /* Texte en gras */
            padding: 20px 30px;
            cursor: pointer;
            border: none;
            border-radius: 12px;
            transition: background-color 0.3s;
            width: 48%;
            background-color: blue);
            color: white;
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        }

        button:disabled {
            background-color: #888;
            cursor: not-allowed;
        }

        #nextButton {
            background-color: #ff9800;
        }

        

    .bottom-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 90%;
    max-width: 800px;
    gap: 5px;
    position: fixed;
    bottom: 30px; /* Positionne les boutons à 100px du bas */
    left: 50%;
    transform: translateX(-50%); /* Centre horizontalement les boutons */
}

.bottom-buttons button {
    font-size: 70px;
    padding: 20px 30px;
    border-radius: 12px;
    background-color: #f44336;
    color: white;
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}



@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.highlight {
    background-color: hsl(0, 0%, 48%) !important;
    color: #e1e1e1;
    animation: blink 1s infinite; /* Animation de clignotement */
}

#pauseButton {
    background-color: #4caf50;
    transition: background-color 0.3s;
}

.toggleButtons {
    position: fixed;
    opacity: 0.3;
    bottom: 10px;
    right: 100px;
    width: 60px;
    height: 60px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
}

.fullscreen-btn {
    position: fixed;
    opacity: 0.3;
    top: 10px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
}
.settings-button {
           position: fixed;
	       opacity: 0.3;
           bottom: 10px;
           right: 20px;
           width: 60px;
           height: 60px;
           background-color: #555;
           color: white;
           border: none;
           border-radius: 50%;
           display: flex;
           justify-content: center;
           align-items: center;
           cursor: pointer;
           font-size: 30px;
        }

        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            transition: opacity 0.3s ease, visibility 0s 0.3s;
            z-index: 1000;
        }

        .modal-content {
            background-color: #fff;
            padding: 30px;
            border-radius: 15px;
            width: 100%;
            max-width: 500px;
            text-align: left;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            position: relative;
            opacity: 0;
            transform: scale(0.9);
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .modal-content input {
            width: 100%;
            padding: 12px;
            margin: 10px -10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 18px;
            transition: border-color 0.3s;
        }

        .modal-content input:focus {
            border-color: #4caf50;
            outline: none;
        }

        .modal-content button {
            margin-top: 10px;
            padding: 8px 12px;
            background-color: #4caf50;
            color: white;
            border-radius: 8px;
	        width: 15%;
            border: none;
            transition: background-color 0.3s;
        }

        .modal-content button:hover {
            background-color: #45a049;
        }

        .modal-content .close-button {
            font-size: 24px;
            color: #aaa;
            background: none;
            border: none;
            position: absolute;
	        width: 15%;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .modal-content .close-button:hover {
            color: #000;
        }

        /* Show modal and animate */
        .modal.show {
            display: flex;
            opacity: 1;
            visibility: visible;
        }

        .modal-content.show {
            opacity: 1;
            transform: scale(1);
        }

.info-button {
    position: fixed;
    opacity: 0.3;
    bottom: 10px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
}

/* Reuse existing styles for modal and modal-content */

